#cElement {
  background-color: #eee5e5;
  width: 400px;
  font-size: 1em;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

#cElement #sElement {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
